/* You can add global styles to this file, and also import other style files */
@import '~carbon-components/scss/globals/scss/styles';
@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";
body {
    margin: 0;
    background-color: whitesmoke;
    padding: 0;
    min-width: auto;
}
a.bx--side-nav__link, .bx--side-nav a.bx--header__menu-item, .bx--side-nav .bx--header__menu-title[aria-expanded=true] + .bx--header__menu {
padding: 0px;
margin-left: 2px;
margin-top: -3px;
}
.bx--side-nav__icon:not(.bx--side-nav__submenu-chevron) {
    margin-left: 14px;
}
.bx--side-nav__link{
    height: 40px;
}
.bx--header__menu-trigger > svg:hover{
    display: block;
}
.bx--header__menu-trigger > svg{
    fill: black;
}
.bx--header__action:hover {
    background-color: #e5e5e5 !important;
    height: 20px !important;

}
.bx--header__menu-toggle {
    display: -webkit-inline-box;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
}
.bx--side-nav--rail {
    border: 1px solid #D1D1D1;
    top: 79px;
}
.bx--side-nav__item {
    margin-left: -6px;
    padding-top: 4px;
}

/* header part */ 
.bx--text-input{
    margin-left: 7px;
    width: 95%;
}

.bx--btn--primary{
    width: 105px;
    margin-left: 31px; 
    border-radius: 27px;
}
a.bx--header__menu-item {
    color: #252121;
    display: contents;
}
.bx--header__nav::before {
    background: white;
    transform: translateY(90%);
}
.bx--header__nav{
    background-color: white;
    width: 100%;
    display: block;
}
.ag-header {
    background: white !important;
}
.ag-header-row.ag-header-row-column {
    height: 35px !important;
}
.bx--header__menu-bar {
    border-bottom: 1px solid #d1d1d1;
     height: 80px;
    background-color: white;
    padding: 10px 10px 10px 0px;
}
.bx--tooltip{
    color: black;
    background-color: white;
    box-sizing: border-box;
    height: 65px;
    width: 184px;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    background-color: #FFFFFF;
}
.bx--tooltip .bx--tooltip__caret {
    border-bottom: white;
}
/* model-popup */
 .bx--modal-container {
    width: 35%;
    height: 35%;
}

/* ag grid table */

.ag-body-horizontal-scroll {
    display:block
}
.ag-theme-alpine .ag-root-wrapper {
    border: none;
    bottom: 15px;
}
.ag-body-viewport {
    display: -webkit-box;
    display: block;
}

.ag-theme-alpine .ag-overlay-loading-center {
    border: none;
    padding: 0px;
    box-shadow: none;
}
.ag-overlay-panel{
    height: 40px;
}
a.bx--side-nav__link, a.bx--side-nav__link:focus {
    outline: none;
}
.ag-theme-alpine {
    height: 30px;
    color: #464646;
    font-family: "ProximaNovaT Regular","Helvetica",Arial,sans-serif;
    font-size: 13px;
}
.ag-theme-alpine .ag-overlay-loading-wrapper {
    background: none;
}
.ag-root {
    top: 3px;
}