.weiter{
  box-sizing: border-box;
  height: 29px;
  width: 85px;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  margin-top: 5px;
 position: relative;
 right: 20px;
  background-color: white;
 }
 .weiter:hover{
   background-color: #EBEBEB;
 }
 .details{
    height: 21px;
    width: 45px;
    color: #464646;
    font-family: "ProximaNovaT Regular","Helvetica",Arial,sans-serif;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 21px;
    text-align: center;
 }
